<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
  <div class="row">
      <h4 class="col-xs-3">Name</h4>
      <h4 class="col-xs-3">Description</h4>
      <h4 class="col-xs-3">Image url</h4>
      <h4 class="col-xs-3">Color</h4>
      <h4 colspan="3"></h4>
  </div>
</table>

    <% @products.each do |product| %>
      <div class="row">
        <p class="col-xs-3"><%= product.name %></p>
        <p class="col-xs-3"><%= product.description %></p>
        <p class="col-xs-3"><%= product.image_url %></p>
        <p class="col-xs-3"><%= product.colour %></p>
        <p><%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </tbody>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
